.header__pic {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header__pic {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .header__pic {
    width: 620px;
  }
}

@media screen and (max-width: 320px) {
  .header__pic {
    width: 270px;
  }
}
