.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 320px;

  color: #000000;
  background-image: radial-gradient(radial-gradient(at bottom, rgba(31,24,65,0.9) 0%, rgba(32,35,114,0.9) 30%, rgba(202,161,169, 0.9) 100%));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;

  font-family: 'Inter', Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
