.page {
  display: flex;

  flex-direction: column;

  width: 100vw;
  min-width: 320px;

  background-color: #E5E5E5;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-image: url('./../../images/background.jpg');
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
