.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 320px;

  color: #000000;
  background-color: #E5E5E5;
  background-image: url('./../../images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;

  font-family: 'Inter', Arial, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
