.player__title {
  display: flex;

  width: 1150px;
  min-width: 230px;
}


@media screen and (max-width: 1280px) {
  .player__title {
    width: calc((100vw - 1024px) / (1280 - 1024) * (1150 - 895) + 895px);
  }
}

@media screen and (max-width: 1024px) {
  .player__title {
    width: calc((100vw - 768px) / (1024 - 768) * (895 - 640) + 640px);
  }
}

@media screen and (max-width: 768px) {
  .player__title {
    width: calc((100vw - 550px) / (768 - 550) * (640 - 437) + 437px);
  }
}


@media screen and (max-width: 550px) {
  .player__title {
    align-items: center;
    flex-direction: column;

    width: calc((100vw - 320px) / (550 - 320) * (437 - 240) + 240px);
  }
}
