.content__paragraph {
  margin-bottom: 27px;
  margin-top: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .content__paragraph {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .content__paragraph {
    font-size: 12px;
    line-height: 1.3;
  }
}