.header__blur {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  transition: filter ease-in 0.5s;
}

@media screen and (max-width: 600px) {
  .header__blur {
    filter: blur(3px);
  }
}
