@import url(./__btn/player__btn.css);
@import url(./__title/player__title.css);
@import url(./__btn/_action/player__btn_action_play.css);
@import url(./__btn/_action/player__btn_action_stop.css);
@import url(./__btn/_action/player__btn_action_minimize.css);
@import url(./__btn/_action/player__btn_action_maximize.css);
@import url(./__btn/_action/player__btn_action_extra.css);
@import url(./__btn/_hidden/player__btn_hidden.css);
@import url(./__song-description/player__song-description.css);
@import url(./__song-name/player__song-name.css);
@import url(./__song-time/player__song-time.css);
@import url(./__song/player__song.css);
@import url(./__song/_small/player__song_small.css);

.player {
  display: flex;

  width: calc(100% - 24px * 2);
  max-width: calc(1280px - 24px * 2);
  min-height: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 550px) {
  .player {
    width: calc(100% - 10px * 2);
  }
}
