.player__body {
  overflow: hidden;
  overflow-y: scroll;

  box-sizing: border-box;
  width: 94%;
  height: 104px;

  transition: all ease-in 0.5s;

  border: none;
  /* Настройки скролл бара только для FF */

  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(243, 243, 243, 0.1);
  scrollbar-width: thin;
  /* Чтобы скрыть используем другой параметр */
  /* scrollbar-width: none; */
}


/* Настройки для браузеров с webkit */
.player__body::-webkit-scrollbar {
  width: 3px;
  /* Чтобы скрыть используем другой параметр */
  /* width: 0; */
}

.player__body::-webkit-scrollbar-track {
  background-color: rgba(243, 243, 243, 0.1);
}

.player__body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1280px) {
  .player__body {
    height: calc((100vw - 1024px) / (1280 - 1024) * (104 - 96) + 96px);
  }
}

@media screen and (max-width: 1024px) {
  .player__body {
    height: 96px;
  }
}

@media screen and (max-width: 500px) {
  .player__body {
    height: 80px;
  }
}
