@import url(./__sing/footer__sing.css);
@import url(./__author/footer__author.css);
@import url(./__link/footer__link.css);

.footer {
  display: flex;
  justify-content: space-between;

  width: calc(100% - 15px * 2);
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
}

@media screen and (max-width: 550px) {
  .footer {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
}
