.header__links-close {
  display: none;
  border: 2px solid #FFF;
  border-radius: 50%;
  background: no-repeat center;
  width: 29px;
  height: 29px;
  padding: 0;
  margin-bottom: 6px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.header__links-close:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .header__links-close{
    display: block;
  }
}
