.header__links-close {
  display: none;
  border: 2px solid white;
  border-radius: 50%;
  background: no-repeat center;
  width: 29px;
  height: 29px;
  padding: 0;
  margin-bottom: 6px;
}

@media screen and (max-width: 320px) {
  .header__links-close{
    display: block;
  }
}
