.player__controls {
  display: flex;
  flex: 1;
  justify-content: flex-start;

  width: calc(100% - 176px - 25px);
  margin-left: 25px;
}


@media screen and (max-width: 768px) {
  .player__controls {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .player__controls {
    width: 100%;
  }
}
