.player__controls {
  display: flex;
  flex: 1;
  justify-content: flex-start;

  width: calc(100% - 176px - 25px);
  margin-left: 25px;
}

@media screen and (max-width: 550px) {
  .player__controls {
    width: 100%;
    margin: 0;
  }
}
