.logo {
  margin: 15px 0 0 25px;
  cursor: pointer;
  transition: .3s;
}

.logo:hover {
  color: black;
  opacity: 0.9;
}

@media screen and (max-width: 375px) {
  .logo {
    width: 32px;
    height: 32px;
  }
}
