.player__body-title {
  overflow: hidden;

  margin: 0 0 12px;

  color: #FFFFFF;

  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .player__body-title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 550px) {
  .player__body-title {
    font-size: 14px;
    line-height: 19px;
  }
}
