.header__links {
  margin: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin-bottom: 42px;
}

@media screen and (max-width: 320px) {
  .header__links {
    display: none;
    margin-bottom: 92px;
  }
}

