.player__song-name {
  overflow: hidden;

  margin: 0;

  white-space:nowrap;

  color: #FFFFFF;

  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
}

@media screen and (max-width: 1024px) {
  .player__song-name {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 400px) {
  .player__song-name {
    font-size: 14px;
    line-height: 19px;
  }
}
