.player_maximize {
  padding-bottom: 30px;
}

@media screen and (max-width: 1280px) {
  .player_maximize {
    padding-bottom: calc((100vw - 1024px) / (1280 - 1024) * (30 - 26) + 26px);
  }
}

@media screen and (max-width: 1280px) {
  .player_maximize {
    padding-bottom: 26px;
  }
}
