.player__cover {
  display: none;
  flex: none;

  box-sizing: border-box;
  width: 176px;
  height: 176px;

  transition: all 0.5s ease;

  border-radius: 4px;
  background-color:#C4C4C4;

  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .player__cover {
    width: calc((100vw - 1024px) / (1280 - 1024) * (176 - 164) + 164px);
    height: calc((100vw - 1024px) / (1280 - 1024) * (176 - 164) + 164px);
  }
}

@media screen and (max-width: 1024px) {
  .player__cover {
    width: calc((100vw - 768px) / (1024 - 768) * (164 - 112) + 112px);
    height: calc((100vw - 768px) / (1024 - 768) * (164 - 112) + 112px);
  }
}

@media screen and (max-width: 600px) {
  .player__cover {
    width: 240px;
    height: 240px;
  }
}
