.content__title {
  margin-top: 90px;
  margin-bottom: 40px;

  text-transform: uppercase;

  font-size: 50px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .content__title {
    margin-top: 80px;

    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .content__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .content__title {
    margin-top: 60px;
    margin-bottom: 30px;

    font-size: 32px;
  }
}
