.player__btn_action_maximize {
  position: absolute;
  top: 3px;
  right: 22px;

  background-image: url(../../../../images/btn-unwrap.svg);
}

@media screen and (max-width: 768px) {
  .player__btn_action_maximize {
    right: calc((100vw - 320px) / (768 - 320) * (22 - 13) + 13px);
  }
}
