@import url('./vendor/normalize.css');
@import url('./fonts/inter.css');
@import url('./blocks/page/page.css');
@import url('./blocks/content/content.css');
@import url('./blocks/link/link.css');
@import url('./blocks/header/header.css');
@import url('./blocks/logo/logo.css');
@import url('./blocks/content/__description/content__description.css');
@import url('./blocks/content/__title/content__title.css');
@import url('./blocks/content/__paragraph/content__paragraph.css');
@import url('./blocks/content/__contacts-form/content__contacts-form.css');
@import url('./blocks/content/__thesis-list/content__thesis-list.css');
@import url('./blocks/content/__thesis-item/content__thesis-item.css');
@import url('./blocks/plyer/player.css');
@import url('./blocks/progress/progress.css');
@import url('./blocks/form/form.css');
@import url('./blocks/form/__input/form__input.css');
@import url('./blocks/form/__link/form__link.css');
@import url('./blocks/form/__input/_type_agree/form__input_type_agree.css');
@import url('./blocks/form/__btn/form__btn.css');
@import url('./blocks/form/__agreement/form__agreement.css');
@import url('./blocks/form/__input/_type_error/form__input_type_error.css');
@import url('./blocks/form/__error/_visible/form__error_visible.css');
@import url('./blocks/form/__error-btn/__error-btn_visible/form__error-btn_visible.css');
@import url('./blocks/link/_streaming/link_streaming.css');
@import url('./blocks/footer/footer.css');
