@import url('./vendor/normalize.css');
@import url('./fonts/inter.css');
@import url('./blocks/page/page.css');
@import url('./blocks/content/content.css');
@import url('./blocks/link/link.css');
@import url('./blocks/header/header.css');
@import url('./blocks/logo/logo.css');
@import url('./blocks/content/__description/content__description.css');
@import url('./blocks/content/__title/content__title.css');
@import url('./blocks/content/__paragraph/content__paragraph.css');
@import url('./blocks/content/__contacts-form/content__contacts-form.css');
@import url('./blocks/content/__thesis-list/content__thesis-list.css');
@import url('./blocks/content/__thesis-item/content__thesis-item.css');

