.link__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: .3s;
}

.link__title:hover {
  font-style: italic;
}

@media screen and (max-width: 375px) {
  .link__title {
    font-size: 12px;
    line-height: 14px;
  }
}
