@import url('./__section/header__section.css');
@import url('./__links/header__links.css');
@import url('./__title/header__title.css');
@import url('./__pic/header__pic.css');
@import url('./__links-close/header__links-close.css');
@import url('./__links//_visible/header__links_visible.css');


.header {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1280px;
  height: calc(100vh - 10px);
  margin: 0 auto;
}
