@import url('./__section/header__section.css');
@import url('./__links/header__links.css');
@import url('./__title/header__title.css');
@import url('./__pic/header__pic.css');
@import url('./__links-close/header__links-close.css');


.header {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

