@import url(./__item/page-ripple__item.css);

.page-ripple {
  position: relative;

  overflow: hidden;

  color: #000000;
  background-image: url(../../images/rippleBGv2.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
}
