.content__description {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 449px;
}

@media screen and (max-width: 1024px) {
  .content__description {
    margin-right: 274px;
  }
}

@media screen and (max-width: 768px) {
  .content__description {
    margin-right: 50px;
  }
}

@media screen and (max-width: 320px) {
  .content__description {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
  }
}